{% extends "layout.html.twig" %}

{% block content %}
<section class="active">
	<div id="carousel" class="carousel slide" data-interval="false">
		<ol class="orange carousel-indicators text-center">
			<li data-target="#carousel" data-slide-to="0" class="active"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
			<li data-target="#carousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="active item">
				<img src="{{ app.request.basepath }}/img/home-01.jpg" class="fullwidth" alt="La organización en Puerto Rico que las niñas y jovenes prefieren porque provee una experiencia dinámica y divertida en un ambiente seguro para desarrollar liderazgo y valores" />
				<img src="{{ app.request.basepath }}/img/pop-home-01.png" width="779" height="377" class="popHome">
			</div>
			<div class="item">
				<img src="{{ app.request.basepath }}/img/home-04.jpg" class="fullwidth backgroundMargin" />
			</div>
			<div class="item">
				<img src="{{ app.request.basepath }}/img/home-05.jpg" class="fullwidth" />
				<iframe class="videoHome" width="640" height="480" src="//www.youtube-nocookie.com/embed/xkXmjhegqDo?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>	
		<!--<a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>-->
	</div>
</section>
{{ render(app.request.baseUrl ~ '/programa-section') }}
{{ render(app.request.baseUrl ~ '/quienes-somos-section') }}
{{ render(app.request.baseUrl ~ '/voluntarios-section') }}
{{ render(app.request.baseUrl ~ '/noticias-section') }}
{{ render(app.request.baseUrl ~ '/contacto-section') }}
{% endblock %}