{% extends "layout.html.twig" %}

{% block menu_programa_class %} class="active"{% endblock %}

{% block content %}
<section>
	<div id="carousel" class="carousel slide" data-interval="false">
		<!--<ol class="carousel-indicators text-center">
				<li data-target="#carousel" data-slide-to="0" class="active"></li>
				<li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
		</ol>-->
		
		<div class="carousel-inner">
			<div class="active item">
				<img src="{{ app.request.basepath }}/img/programa-01.jpg" border="0" class="fullwidth" />
				<div id="popPrograma1" class="modal lightbox hide">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<img src="{{ app.request.basepath }}/img/pop-01-programa.png" />
				</div>
				<div id="popPrograma2" class="modal lightbox hide">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<img src="{{ app.request.basepath }}/img/pop-02-programa.png">
				</div>
				<div id="popPrograma3" class="modal lightbox hide">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<img src="{{ app.request.basepath }}/img/pop-03-programa.png">
				</div>
				
				<ul class="programaPopMenu">
					<li>
						<a href="#" data-pop="popPrograma1">
							<img src="{{ app.request.basepath }}/img/01-home.png" />
						</a>
					</li>
					<li>
						<a href="#" data-pop="popPrograma2">
							<img src="{{ app.request.basepath }}/img/02-home.png" />
						</a>
					</li>
					<li>
						<a href="#" data-pop="popPrograma3">
							<img src="{{ app.request.basepath }}/img/03-home.png" />
						</a>
					</li>
				</ul>
			</div>
			<div class="item"><img src="{{ app.request.basepath }}/img/programa-02.jpg" class="fullwidth" /></div>
			<div class="item">
				<div class="cookiesContainer1">
					<div class="cookiesContent">
						<img id="cookie1" src="{{ app.request.basepath }}/img/cookies/cookie1.png" class="cookie" />
						<img id="cookie2" src="{{ app.request.basepath }}/img/cookies/cookie2.png" class="cookie" />
						<img id="cookie3" src="{{ app.request.basepath }}/img/cookies/cookie3.png" class="cookie" />
					</div>
				</div>
				<div class="cookiesContainer2">
					<div class="cookiesContent">
						<img id="cookie4" src="{{ app.request.basepath }}/img/cookies/cookie4.png" class="cookie" />
						<img id="cookie5" src="{{ app.request.basepath }}/img/cookies/cookie5.png" class="cookie" />
						<img id="cookie6" src="{{ app.request.basepath }}/img/cookies/cookie6.png" class="cookie" />
					</div>
				</div>
				<div class="metas">
					<div id="carouselMetas">
						<!--  <ol class="carousel-indicators text-center">
							<li data-target="#carouselMetas" data-slide-to="0" class="active"></li>
							<li data-target="#carouselMetas" data-slide-to="1"></li>
                			<li data-target="#carouselMetas" data-slide-to="2"></li>
                			<li data-target="#carouselMetas" data-slide-to="3"></li>
                			<li data-target="#carouselMetas" data-slide-to="4"></li>
						</ol> -->
		
						<ul>
							<li><img src="{{ app.request.basepath }}/img/galletas-01.png" /></li>
							<li><img src="{{ app.request.basepath }}/img/galletas-02.png" /></li>
							<li><img src="{{ app.request.basepath }}/img/galletas-03.png" /></li>
							<li><img src="{{ app.request.basepath }}/img/galletas-04.png" /></li>
							<li><img src="{{ app.request.basepath }}/img/galletas-05.png" /></li>							
						</ul>
						
					</div>							
					<a class="carousel-control left unslider-arrow prev"  href="#carouselMetas" data-slide="prev"><img src="{{ app.request.basepath }}/img/left-grey.png" width="52" height="72"></a>
					<a class="carousel-control right unslider-arrow next" href="#carouselMetas" data-slide="next"><img src="{{ app.request.basepath }}/img/right-grey.png" width="52" height="72"></a>
				</div>
				<img src="{{ app.request.basepath }}/img/cookie-program-01.jpg" class="fullwidth" />
			</div>
		</div>
		<a class="carousel-control left" href="#carousel" data-slide="prev"><img src="{{ app.request.basepath }}/img/left-grey.png" width="52" height="72"></a>
		<a class="carousel-control right" href="#carousel" data-slide="next"><img src="{{ app.request.basepath }}/img/right-grey.png" width="52" height="72"></a>
	</div>
</section>
{% endblock %}