{% extends "layout.html.twig" %}

{% block content %}
<section>
	<div id="carousel" class="carousel slide">
		<!--<ol class="carousel-indicators text-center">
			<li data-target="#carousel" data-slide-to="0" class="active"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
		</ol>-->
                      
		<div class="boxPDF">
			<div id="boxVoluntarios" class="contentPDF">
				<div class="numero"><p>1.</p></div>
				<div class="contenido">
					<h4>Certificado Médico</h4>
				</div>
				<div class="download"><a href="{{ app.request.basepath }}/docs/Certificado-medico.pdf" target="_blank"><img src="{{ app.request.basepath }}/img/download-ov.png" width="104" height="30" border="0"></a></div>
			</div>
			<div class="contentPDF">
				<div class="numero"><p>2.</p></div>
                            <div class="contenido">
                            	<h4>Confirmación de Graduación</h4>
                            </div>
                            <div class="download"><a href="{{ app.request.basepath }}/docs/Confirmacion-de-graduacion.pdf" target="_blank"><img src="{{ app.request.basepath }}/img/download-ov.png" width="104" height="30" border="0"></a></div>
                         </div>
                         <div class="contentPDF">
                         	<div class="numero"><p>3.</p></div>
                            <div class="contenido">
                            	<h4>Consentimiento para uso y divulgación de información personal y de salud</h4>
                            </div>
                            <div class="download"><a href="{{ app.request.basepath }}/docs/Consentimiento-para-uso-y-divulgacion.pdf" target="_blank"><img src="{{ app.request.basepath }}/img/download-ov.png" width="104" height="30"></a></div>
                         </div>
                         <div class="contentPDF">
                         	<div class="numero"><p>4.</p></div>
                            <div class="contenido">
                            	<h4>Contrato de Talento</h4>
                            </div>
                            <div class="download"><a href="{{ app.request.basepath }}/docs/Contrato-de-talento.pdf" target="_blank"><img src="{{ app.request.basepath }}/img/download-ov.png" width="104" height="30" border="0"></a></div>
                         </div>
                         <div class="contentPDF">
                         	<div class="numero"><p>5.</p></div>
                            <div class="contenido">
                            	<h4>Departamento de la Familia Oficina de Licenciamiento</h4>
                            </div>
                            <div class="download"><a href="{{ app.request.basepath }}/docs/Departamento-de-la-familia.pdf" target="_blank"><img src="{{ app.request.basepath }}/img/download-ov.png" width="104" height="30" border="0"></a></div>
                         </div>
                         <div class="contentPDF">
                         	<div class="numero"><p>6.</p></div>
                            <div class="contenido">
                            	<h4>Solicitud de Participación Ciudadanía</h4>
                            </div>
                            <div class="download"><a href="{{ app.request.basepath }}/docs/Solicitud-de-participacion-ciudadania.pdf" target="_blank"><img src="{{ app.request.basepath }}/img/download-ov.png" width="104" height="30"></a></div>
                         </div>
                         <div class="contentPDF">
                         	<div class="numero"><p>7.</p></div>
                            <div class="contenido">
                            	<h4>Formularios para la Matrícula de Adiestramientos y eventos relacionados programados por el Concilio</h4>
                            </div>
                            <div class="download"><a href="{{ app.request.basepath }}/docs/Formularios-para-la-matricula-de-adiestramientos.pdf" target="_blank"><img src="{{ app.request.basepath }}/img/download-ov.png" width="104" height="30"></a></div>
                         </div>
                         <div class="contentPDF">
                         	<div class="numero"><p>8.</p></div>
                            <div class="contenido">
                            	<h4>Notificación de Privacidad</h4>
                            </div>
                            <div class="download"><a href="{{ app.request.basepath }}/docs/Notificacion-de-privacidad.pdf" target="_blank"><img src="{{ app.request.basepath }}/img/download-ov.png" width="104" height="30"></a></div>
                         </div>
                         <div class="contentPDF">
                         	<div class="numero"><p>9.</p></div>
                            <div class="contenido">
                            	<h4>Notificación sobre la Política de Privacidad</h4>
                            </div>
                            <div class="download"><a href="{{ app.request.basepath }}/docs/Notificacion-sobre-la-politica-de-privacidad.pdf" target="_blank"><img src="{{ app.request.basepath }}/img/download-ov.png" width="104" height="30"></a></div>
                         </div>
                         <div class="contentPDF">
                         	<div class="numero"><p>10.</p></div>
                            <div class="contenido">
                            	<h4>Permiso de Madre/ Padre o Encargado General</h4>
                            </div>
                            <div class="download"><a href="{{ app.request.basepath }}/docs/Permiso-de-madre.pdf" target="_blank"><img src="{{ app.request.basepath }}/img/download-ov.png" width="104" height="30"></a></div>
                         </div>
                         <div class="contentPDF">
                         	<div class="numero"><p>11.</p></div>
                            <div class="contenido">
                            	<h4>Solicitud Alfiler 10 Años</h4>
                            </div>
                            <div class="download"><a href="{{ app.request.basepath }}/docs/Solicitud-alfiler-10-anios.pdf" target="_blank"><img src="{{ app.request.basepath }}/img/download-ov.png" width="104" height="30"></a></div>
                         </div>
                         <div class="contentPDF">
                         	<div class="numero"><p>12.</p></div>
                            <div class="contenido">
                            	<h4>Solicitud Cordón de Plata y Oro</h4>
                            </div>
                            <div class="download"><a href="{{ app.request.basepath }}/docs/Solicitud-cordon-de-plata-y-oro.pdf" target="_blank"><img src="{{ app.request.basepath }}/img/download-ov.png" width="104" height="30"></a></div>
                         </div>
                         <div class="contentPDF">
                         	<div class="numero"><p>13.</p></div>
                            <div class="contenido">
                            	<h4>Solicitud de Evento</h4>
                            </div>
                            <div class="download"><a href="{{ app.request.basepath }}/docs/Solicitud-de-evento.pdf" target="_blank"><img src="{{ app.request.basepath }}/img/download-ov.png" width="104" height="30"></a></div>
                         </div>
                         <div class="contentPDF">
                         	<div class="numero"><p>14.</p></div>
                            <div class="contenido">
                            	<h4>Solicitud de Salida de Tropa</h4>
                            </div>
                            <div class="download"><a href="{{ app.request.basepath }}/docs/Solicitud-de-salida-de-tropa.pdf" target="_blank"><img src="{{ app.request.basepath }}/img/download-ov.png" width="104" height="30"></a></div>
                         </div>
                         <div class="contentPDF">
                         	<div class="numero"><p>15.</p></div>
                            <div class="contenido">
                            	<h4>Solicitud para Campamentos</h4>
                            </div>
                            <div class="download"><a href="{{ app.request.basepath }}/docs/Solicitud-para-campamentos.pdf" target="_blank"><img src="{{ app.request.basepath }}/img/download-ov.png" width="104" height="30"></a></div>
                         </div>
                      </div>
                      
                      
                     
                      <div id="boxRecursos" class="boxPDF hide">
                      	 <div class="contentPDF">
                         	<div class="numero"><p>1.</p></div>
                            <div class="contenido">
                            	<h4>Cómo usar The Girl’s Guide to Girl Scouting
para Cadettes, Seniors y Ambassadors</h4>
                            </div>
                            <div class="download"><a href="{{ app.request.basepath }}/docs/GGGS_Tips_sheet_c-s-a_Spanish.pdf" target="_blank"><img src="{{ app.request.basepath }}/img/download-ov.png" width="104" height="30" border="0"></a></div>
                         </div>
                         <div class="contentPDF">
                         	<div class="numero"><p>2.</p></div>
                            <div class="contenido">
                            	<h4>Cómo usar The Girl’s Guide
to Girl Scouting para las
Daisy, Brownies y Juniors</h4>
                            </div>
                            <div class="download"><a href="{{ app.request.basepath }}/docs/GGGS_Tips_sheet_d-b-j_Spanish.pdf" target="_blank"><img src="{{ app.request.basepath }}/img/download-ov.png" width="104" height="30" border="0"></a></div>
                         </div>
                      </div>
                      
                      
                      <div id="boxFormas" class="boxPDF hide">
                      	 <div class="contentPDF">
                         	<div class="numero"><p>1.</p></div>
                            <div class="contenido">
                            	<h4>Formularios Líderes</h4>
                            </div>
                            <div class="download"><a href="{{ app.request.basepath }}/docs/Formularios-Lideres.doc" target="_blank"><img src="{{ app.request.basepath }}/img/download-ov.png" width="104" height="30" border="0"></a></div>
                         </div>
                      </div>
                      
		<div class="carousel-inner">
			<div class="active item">
				<img src="{{ app.request.basepath }}/img/voluntarios-voluntarios.jpg" border="0" class="fullwidth" />
				<ul class="voluntariosMenu">
					<li><a href="#" class="voluntariosButton selected active" data-box="boxVoluntarios"></a></li>
					<li><a href="#" class="recursosButton" data-box="boxRecursos"></a></li>
					<li><a href="#" class="formasButton" data-box="boxFormas"></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
{% endblock %}